- content_for(:title, 'Landing page')
.center.row
  =image_tag "logo_link.png", size: "242x92"
  %p.color-violet.line-height-1.margin-top-10
    %br
    Lier les enfants du monde grâce à la <span class="color-purple">correspondance</span> ludique.<br> Découvrir des <span class="color-light-violet">langues</span> et d’autres <span class="color-light-violet">cultures</span>.
#lp_video.center
  %iframe.margin-top-30{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/68768275", :webkitallowfullscreen => "", :width => "850"}
.row.margin-bottom-60.margin-top-120
  %p.col-md-4.col-md-offset-2.center.color-violet.margin-left-255.font-size-29
    La nouvelle App
    %br
    %span.lead
      de
      %span.color-white Correspondance 2.0
      %br
      %span.lead des
      %span.color-white classes connectées !
.row.color-light-blue.margin-bottom-40
  .col-md-2.center.icone
    .icone-content
      =image_tag "lp_btn1.png"
      %p
        %br S'INITIER
        AUX LANGUES
  .col-md-4.center
    =image_tag "lp_btn2.png"
    %p.margin-top-10
      %br ECRIRE ET RECEVOIR
      DU COURRIER
  .col-md-2.center.icone
    .icone-content
      =image_tag "lp_btn3.png"
      %p
        %br S'OUVRIR
        AU MONDE
.row
  .col-md-9.col-md-offset-3.font-size-29
    %p.color-grey
      %br
      Une nouvelle façon d'aborder l'enseignement,
      %br qui vous permettra de créer un projet <br><span class="color-light-blue">scolaire</span>, <span class="color-light-violet">annuel</span> et <span class="color-purple">international</span>.
.margin-bottom-80.margin-left--110=image_tag "lp_ipad.png", size: "1000x874"
.row.margin-top-30
  .col-md-5.center.col-md-offset-6.lead.color-dark-purple
    %p.margin-top--465
      <span class="font-size-42 line-height-init"><span class="color-violet">Vous êtes</span>
      %br
      professeur <span class="color-violet">?</span></span>
      %br
      %br
      .font-size-34= link_to "- Créer votre compte -", new_user_session_path, class: "color-violet"
      %br
      =image_tag "app_store_icone.png", size: "116x108", class: "margin-top--5 float-left"
      %p.font-size-34.color-purple.margin-left-20.text-align-left.margin-top-5 Télécharger notre App sur l'Apple Store
