// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "chosen";

@font-face {
  font-family: 'bosque';
  src: font-url("Bosque-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.center{
  text-align: center;
}

* {
  font-family: bosque;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-255 {
  margin-left: 255px;
}

.margin-left--110 {
  margin-left: -110px;
}

.margin-top--465 {
  margin-top: -465px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-42 {
  font-size: 42px;
}

.line-height-init {
  line-height: initial;
}

.margin-top-30 {
  margin-top: 30px;
}

.color-white {
  color: white;
}

.color-light-blue {
  color: #BAE1E7;
}

.color-dark-purple {
  color: #6468A8;
}

.color-purple {
  color: #CC4992;
}

.color-violet {
  color: #434A7E;
}

.color-light-violet {
  color: #B7AAD6;
}

.color-grey {
  color: #B8C0C1;
}

body {
  font-size: 16px;
}
