.dashboard-index {
  .container-main {
    min-height: 2600px;
    .lead {
      font-size: 31px;
    }
    font-size: 24px;
    letter-spacing: 1px;
  }

  #wrap > .container {
    padding: 80px 15px 0;
    padding-top: 0;
    margin-top: -40px;
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  #wrap {
    background: image-url("fond_link_landing.png") no-repeat;
    background-size: cover;
  }
  .icone {
    min-height: 300px;
    position: relative;
  }

  .icone-content {
    position: absolute;
    bottom: 0;
  }
}
#lp_video {
  background: image-url("fond_video.png") no-repeat;
  width: 888px;
  height: 533px;
  margin: 0 auto;
  margin-bottom: 50px;
}
