.dashboard-index {
  .container-main {
    background: image-url("landing_page_bg.jpg") no-repeat;
    min-height: 3200px;
    .lead {
      font-size: 31px;
    }
    font-size: 24px;
    letter-spacing: 1px;
  }
}
#lp_video {
  background: image-url("fond_video.png") no-repeat;
  width: 888px;
  height: 533px;
  margin: 0 auto;
  margin-bottom: 50px;
}
